
#map { height: 180px; }
#logo {
   mix-blend-mode: multiply; 
   margin-left: 35px
}
#img{
   width: 100%;
   height: 500px;
}
#search{
   background-color:white;
   padding: 30px;
}
#cards{
   display: flex;
   flex-direction: row;
   height: 400px;
   width: 500px;
}